{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}
  <div class="tabs">
    {{ range $name, $x := .Params.tweets }}
      <button onclick="opentab(event, '{{ $name }}')">{{ $name }}</button>
    {{ end }}
    {{ range $name, $x := .Params.tweets }}
      <div id='{{ $name }}'>
        {{ with $x.text }}
          {{ . }}
        {{ end }}
        {{ with $x.id }}
          {{- $url := printf "https://api.twitter.com/1/statuses/oembed.json?id=%v" $x.id -}}
          {{- $json := getJSON $url -}}
          {{ $json.html | safeHTML }}
        {{ end }}
      </div>
    {{ end }}
  </div>
  <script>
    document.getElementsByClassName('tabs')[0].getElementsByTagName('button')[0].click()
  </script>
{{ end }}
